
{% load staticfiles %}
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="card-panel center teal lighten-2 row">
<div class="col m5 offset-m1"> <h5>Pagina Personal de Alejandro Monteseirin</b>  </div>
<div class="col m3 offset-m3" style="text-align:right"> 
    <a href="https://twitter.com/alexmp001" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="https://www.instagram.com/alexmp001/" class="fa fa-instagram"></a>
</div>
</h5></div>

<div class="row">
    <div class="col m12 l6">
        <div class="collection">
            <a class="collection-item" href="https://www.dropbox.com/sh/6tbbyysukbg93kd/AAAFrn8q-9Vz0g4w4uZywWbta?dl=0">EpicChili (Free RPG)</a><br>
			<a class="collection-item" href="https://mega.nz/#F!5ZpERQQQ!sdrOthWfihnTt60C4Ps0uA">Juego de pokemon Personalizado <b>BETA</b></a><br>
			<!--<a  class="collection-item disabled" href="recursos/Alexmp001Game/index.html" target="_blank">Videojuego plataformas Html5</a><br> -->
			<a class="collection-item" href="https://twitter.com/Twiterfalso102" target="_blank">ShiroBot</a><br>
        </div>
    </div>
    <div class="col m12 l6">
        <div class="collection">
        </div>
    </div>
</div>
<script>M.AutoInit();</script>
</body>