.fa {
    padding: 20px;
    font-size: 30px !important;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa:hover {
    opacity: 0.7;
}
.titulo{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;
  font-size: 4em;
  color: black; font-family: 'Droid serif', serif; font-size: 4em; font-weight: 400; font-style: italic; line-height: 44px;  text-align: left;
}

.even{
  text-align: left;
  padding-left: 1em;
}

.odd{
  text-align: right;
  padding-right: 1em;
}
.chat{
  min-height: 4em;
  max-height: 15em;
  overflow: auto;
  background-color: #EEEEEE;
  border: 1px dashed #1C6EA4;
  border-radius: 4px;
}
.explicacion{
  font-size: x-small;
}
.submit{
  padding-top: 2em !important;
}