.fa {
    padding: 20px;
    font-size: 30px !important;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa:hover {
    opacity: 0.7;
}
.titulo{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;
  font-size: 4em;
  color: black; font-family: 'Droid serif', serif; font-size: 4em; font-weight: 400; font-style: italic; line-height: 44px;  text-align: left;
}


#vertgraph {
  width: 378px;
  height: 207px;
  position: relative;
  background: url("g_backbar.gif") no-repeat;
  }
  #vertgraph ul {
  width: 378px;
  height: 207px;
  margin: 0;
  padding: 0;
  }
  #vertgraph ul li {
  position: absolute;
  width: 28px;
  height: 160px;
  bottom: 34px;
  padding: 0 !important;
  margin: 0 !important;
  background: red !important;
  text-align: center;
  font-weight: bold;
  color: white;
  line-height: 2.5em;
  }
  #vertgraph li.critical { left: 24px; background-position: 0px bottom !important; }
  #vertgraph li.high { left: 101px; background-position: -28px bottom !important; }
  #vertgraph li.medium { left: 176px; background-position: -56px bottom !important; }
  #vertgraph li.low { left: 251px; background-position: -84px bottom !important; }
  #vertgraph li.info { left: 327px; background-position: -112px bottom !important; }